body, html, #root{
    background-color: #0e1922;
}

p, h1,h2,h3,h4,h5{
    color: whitesmoke;
    margin: 0 !important;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    padding: 2%;
}

/* Average Ticker Values */
.average{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #142430;
    color: whitesmoke;
}
.average p{
    color: gray;
}

.buttons{
    height: 50vh;
}

.right{
    background-color: #0e1922;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}